.label {
  font-size: 0.85rem;
  padding: 0.4rem;
  font-weight: 500;
}

.chips {
  background: #f6f7fa;
  border: 1px solid #dadada;
  display: flex;
  align-items: center;
  flex: 1 1;
  outline: none;
  border: 2pt solid transparent;
  transition: all 100ms ease;
  background: #f5f5f5;
  border-radius: 8px;
  font-size: 0.9rem;
  overflow: hidden;
  padding: 4px;
  &:focus-within {
    border: 2pt solid #2196f3;
  }
}
.chipList ul {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 4px;
  width: 100%;
  overflow: hidden;

  li {
    color: #fff;
    display: flex;
    font-size: 11px;
    font-style: normal;
    border-radius: 6px;
    padding: 0 10px;
    align-items: center;
    cursor: pointer;
    width: fit-content;
    background: #1d99f2 !important;
    i {
      display: grid;
      place-content: center;
    }

    &:nth-last-child(1) {
      background: transparent !important;
      position: relative;
      flex: 1;
      hr {
        width: 120px;
        position: absolute;
        bottom: -5px;
        left: 20px;
        display: none !important;
      }
    }
  }
}

.field {
  display: flex;
  align-items: center;
  input {
    background: transparent !important;
    outline: none;
    border: 0;
    background: #f6f7fa;
    margin-left: 10px;
    width: 100%;
    padding: 0.6rem;
    margin: 0;
  }
}
