// FOR PICKER

.container {
    gap: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  
  .input-card {
    display: flex;
    flex-direction: column;
  }
  .picker {
    //   padding: 0.5rem;
    overflow: hidden;
    display: grid;
    border-radius: 8px;
    position: relative;
    place-content: center;
    background-color: #f1f1f1;
    label {
      display: flex;
      place-content: center;
      align-items: center;
      flex-direction: column;
    }
    img {
      width: 100%;
      object-fit: cover;
      min-height: 90px;
    }
    input {
      display: none;
    }
    p {
      color: #333;
      font-size: 0.85rem;
    }
  
    .controls {
      top: 4px;
      right: 4px;
      opacity: 0;
      position: absolute;
      display: flex;
      flex-direction: column;
      gap: 4px;
    }
  
    .delete-icon {
      padding: 0.2rem;
      background-color: #f1f1f1;
      transition: all 100ms ease;
      border-radius: 4px;
      display: flex;
      align-items: center;
    }
    &:hover {
      .controls {
        opacity: 1;
      }
    }
  }
  
  .add-card {
    min-height: 90px;
  }
  